{{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Kratos</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima hic repellat, nostrum dicta voluptatibus facere pariatur optio, obcaecati aut aliquid eveniet eum cum ea, fugit amet corrupti labore dolor unde!
            </p>
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="/assets/img/kratos.png">
        </div>
        
    </div>
{{> footer }}